*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    color: #ccc;
    display: flex;
}
.left-col{
    margin: 32px 34px;
    
}
.left-col ul{
    list-style: none;
}
.left-col ul li {
    display: inline-flex;
    margin-right: 10px;
    font-size: 10px;
    color: #5c5252;
    font-weight: 600;
    
   
}
.active{
    border-bottom: 2px solid #2e2929;
}
.content{
    margin: 130px 110px;
}
.content h1{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.content p{
    margin: 10px auto;
    font-size: 12px;
    color: #5c5252;
    line-height: 20px;
} 
button{
    width: 120px;
    height: 35px;
    padding: 10px 10px;
    color: #e9e4e4;
    background-color: #000;
    border: 0;
    outline: 0;
    font-size: 8px;
    letter-spacing: 1px;
}
.left-col{
    margin: 32px 34px;
}
.left-col ul{
    list-style: none;
}
.left-col ul li {
    display: inline-flex;
    margin-right: 10px;
    font-size: 10px;
    color: #5c5252;
    font-weight: 600;
}
.active{
    border-bottom: 2px solid #2e2929;
}
.content{
    margin: 130px 110px;
}
.content h1{
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.content p{
    margin: 10px auto;
    font-size: 12px;
    color: #5c5252;
    line-height: 20px;
} 
button{
    width: 120px;
    height: 35px;
    padding: 10px 10px;
    color: #e9e4e4;
    background-color: #000;
    border: 0;
    outline: 0;
    font-size: 8px;
    letter-spacing: 1px;
}
.right-col {
    position: relative;
    flex: 1;
    height: 100vh;
    overflow: hidden;   /* important to hide outside parts */
}
.right-col img {
    position: absolute;
    right: 0;            /* move image to right edge */
    margin-top: 1%;
    width: 40vw;         /* increase width so you can shift it */
    height: 99vh;
    clip-path: polygon(110px 0, 100% 0, 100% 100%, 0 100%);
}
.image {
    position: absolute;
    left:40%;
}
.right-col i{
    position: relative;
    color: #ccc;
    right: -85%;
    margin: 35px 0;
    margin-right: 5px;
    cursor: pointer;
}
.footer{
    position: absolute;
    top: 86%;
    background: black;
    width: 100vw;
    height: 18%;
    display: inline-flex;
}
.footer i{
   position: relative; 
   top: -18%;
   font-size: 33px;
   margin: 0px 230px;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   color: #fff;
   background-color: #ffa500;
   padding: 8px;
}
.g1{
    display: flex;
    flex-direction: column;
}
.g1 h3{
    margin-left: 45%;
    font-size: 9px;
}
.g1 p{
    margin-left: 43%;
    font-size: 8px;
    margin: 5px auto;
    color: #d9d4d4;
} 
.g2{
    display: flex;
    flex-direction: column;
}
.g2 h3{
    margin-left: 37%;
    font-size: 9px;
}
.g2 p{
    margin-left: 42%;
    font-size: 8px;
    margin: 5px auto;
    color: #d9d4d4;
} 
.g3{
    display: flex;
    flex-direction: column;
}
.g3 h3{
    margin-left: 48%;
    font-size: 9px;
}
.g3 p{
    margin-left: 42%;
    font-size: 8px;
    margin: 5px auto;
    color: #d9d4d4;
} 